@media only screen and (max-width:12222200px) and (min-width:1000px)
{
    body .container { width:100%; padding-left:50px; padding-right:50px; }
}


@media only screen and (max-width:999px) and (min-width:100px)
{



}


@media only screen and (max-width: 999px) and (min-width: 760px)
{

}


@media only screen and (max-width: 759px) and (min-width: 100px)
{


}

